@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}


/* ===================home page/index.html=================== */
.home {
  font-family: "helvetica" sans-serif;
  background: url(https://orig00.deviantart.net/a7e8/f/2016/282/d/c/frieza_saga_vegito_by_zachjacobs-d7icpiu.png) repeat;
}

.home-container {
  width: 99%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

iframe {
  background-color: #000000;
  border: 5px solid #FFF;
  position: absolute;
  right: 0;
}

@media (max-width: 1200px) {
  iframe {
    width: 40%;
    right: 5px;
  } 
}
/* ====navigation bar==== */
.nav-container {
  width: 58%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.nav-container nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.nav-container nav a {
  width: 16.5%;
  height: 80px;
  background-color: darkolivegreen;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container nav a:hover {
  background: #000080;
  cursor: url(http://ani.cursors-4u.net/anime/ani-13/ani1235.ani), url(http://ani.cursors-4u.net/anime/ani-13/ani1235.png), auto; 
  transition: background .5s;  
}

.family-image {
  display: flex;
  justify-content: space-between;
}

.family-image img {
    width: 16.5%;
    height: 175px;
}

/* ====top section==== */
.home-top-section {
  background-color: darkorange;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/CSS3_and_HTML5_logos_and_wordmarks.svg/1280px-CSS3_and_HTML5_logos_and_wordmarks.svg.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: 50%;
  background-position-y: 98%;
  border: 10px solid black;
  border-radius: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0 5%;
  padding-bottom: 5%;
}

.home-top-section section {
  width: 50%;
  background-color: beige;
  display: flex;
  visibility: hidden;
}

.top-section-logo {
  width: 75%;
  margin: 10% 0% 10%;
}

.saiyan-saga-logo {
  background: url(../images/light-shower.gif);
  background-size: contain;
  color: transparent;
  font-size: 6rem;
  font-weight: bolder;
  outline: none;
  text-transform: uppercase;
  -webkit-background-clip: text;
}

.glitch {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 5%;
  text-shadow:
  .05em 0 darkred,
  -.025em -.05em red,
  .025em .05em blue;
  text-transform: uppercase;

  animation: glitch 1500ms infinite;
}

.glitch span {
  position: absolute;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.015em, -0.025em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 300ms infinite;
  clip-path: polygon(0% 75%, 100% 45%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.0125em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow:
      .05em 0 darkred,
      -.025em -.05em red,
      .025em .05em blue;
  }
  14% {
    text-shadow:
      .05em 0 darkred,
      -.025em -.05em red,
      .025em .05em blue;
  }
  15% {
    text-shadow:
      -.05em 0 darkred,
      .025em .05em red,
      -.025em -.05em blue;
  }
  49% {
    text-shadow:
      -.05em 0 darkred,
      .025em .05em red,
      -.025em -.05em blue;
  }
  50% {
    text-shadow:
      .025em .05em darkred,
      .05em 0 red,
      .025em .05em blue;
  }
  99% {
    text-shadow:
      .025em .05em darkred,
      .05em 0 red,
      .025em .05em blue;
  }
  100% {
    text-shadow:
      .025em -.05em darkred,
      -.035em -.025em red,
      .05em 0 blue;
  }

}

/* ======== User setting for motion sickness ======== */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.top-section-android-image {
  border: 3px solid black;
  border-radius: 10%;
  margin: 3% 0 8%;
} 

.neon {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px lightpink, 0 0 15px lightpink, 0 0 20px lightpink, 0 0 40px lightpink, 0 0 60px magenta, 0 0 10px pink, 0 0 98px magenta;
  color: salmon;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 7s infinite;
  -webkit-animation: blink 7s infinite;
}

@-webkit-keyframes blink {
  18%,
  20%,
  24%,
  55% {
    color: darkorange;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px lightpink, 0 0 15px lightpink, 0 0 20px lightpink, 0 0 40px lightpink, 0 0 60px magenta, 0 0 10px pink, 0 0 98px magenta;
    color: salmon;
  }
}

@keyframes blink {
  18%,
  20%,
  24%,
  55% {
    color: darkorange;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px lightpink, 0 0 15px lightpink, 0 0 20px lightpink, 0 0 40px lightpink, 0 0 60px magenta, 0 0 10px pink, 0 0 98px magenta;
    color: salmon;
  }
}

.top-section-buu-image {
  border: 3px solid black;
  width: 640px;
  height: 400px;
  border-radius: 10%;
  margin: 3% 0 20%;
} 

/* :root {
  font-size: 32px;
  font-family: "Concert One", cursive;
} */

.friezaFont {
  font-size: 9rem;
  animation: 5s rotate ease-in-out infinite;
  font-family: "Concert One", cursive;
}

.friezaFont::before,
.friezaFont::after {
  content: "Frieza Saga";
}

.friezaFont::before,
.friezaFont::after {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
/* .friezaFont::before {
  color: rgba(0, 212, 255, 1);
  animation: 5s h1-before ease-in-out infinite;
}
.friezaFont::after {
  z-index: -2;
  color: rgba(9, 9, 121, 1);
  animation: 5s h1-after ease-in-out infinite;
} */

.friezaFont::before {
  color: darkmagenta;
  animation: 5s h1-before ease-in-out infinite;
}
.friezaFont::after {
  z-index: -2;
  color: purple;
  animation: 5s h1-after ease-in-out infinite;
}
.friezaFont {
  position: relative;
  color: pink;
  margin: 0;
  padding: 0;
}
@keyframes rotate {
  0%,
  100% {
    transform: rotate3d(0, 1, 0, -20deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 20deg);
  }
}

@keyframes h1-before {
  0%,
  100% {
    transform: translate3d(15px, 3px, -10px);
  }
  50% {
    transform: translate3d(-15px, 3px, -10px);
  }
}
@keyframes h1-after {
  0%,
  100% {
    transform: translate3d(30px, 9px, -20px);
  }
  50% {
    transform: translate3d(-30px, 9px, -20px);
  }
}


/* ====footer==== */
footer {
  background: left no-repeat url("../images/roshilogo.png");
  background-size: 6%;
  background-color: black;
  padding: 0.35% 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 2em;
  height: 3em;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.footer-middle img {
  width: 100%;
}


