* {
	box-sizing: border-box;
	border: 1px solid black;
	margin: 0;
	padding: 0;
  }

  body {
	background: url(https://i.imgflip.com/1asae3.jpg) repeat;
  }

 

/* =================== navbar =================== */
header {
	background-color: aquamarine;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	opacity: 0.97;
	border-bottom: 1px solid rgb(89, 89, 255);
}

.nav-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-right {
	width: 43.5%;
	text-align: end;
	font-family: 'Permanent Marker', sans;
	font-size: 1.5em;
}

.nav-right a {
	text-decoration: none;
	padding: 0 5%;
}

.nav-right a:hover {
	border-bottom: 5px solid DarkGoldenRod;
	border-radius: 80px;
}

.nav-scouter {
	width: 5.5%;
	padding-bottom: 1%;
}

iframe {
	margin-top: 25%;
	margin-bottom: 15%;
}

/* =================== bio =================== */
.vegeta-top-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.vegeta-bio-container {
	width: 95%;
	display: flex;
	flex-direction: column;
	background-color: darkgoldenrod;
	border: 3px solid black;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
}

.bio-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bio-top {
	display: flex;
	justify-content: space-between;
	padding: 0 3%;
	border-bottom: 2px solid black;
}

.bio-left {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.bio-left p {
	font-family: 'Permanent Marker', sans;
	font-size: 1.2em;
	line-height: 2em;
	margin-left: 5%;
} 

.bio-right {
	width: 30%
}

.bio-picture {
width: 90%;
border-radius: 80px;
}

.bio-story {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/* =================== training =================== */
.vegeta-training-container {
	display: flex;
	flex-direction: column;
}

.vegeta-training {
	display: flex;
	justify-content: space-evenly;
}

.vegeta-training p {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vegeta-training div {
	width: 30%;
}

.box-1, .box-3 {
	background-color: red;
	border: 2px solid black;
	border-radius: 20px;
}

.box-1 {
	font-family: 'Permanent Marker', sans;
	font-size: 1.5em;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.box-1 p {
	font-size: .48em;
}

.box-1 ul {
	list-style-type: none;
	text-align: center;
}

.box-1 li {
	padding: 3% 0;
}

.box-2 {
	display: flex;
	align-items: center;
	font-family: 'Acme', sans;
	background-color: white;
	border: 2px solid black;
	border-radius: 20px;
	padding: 0 3%;
	text-align: center;
}

.box-2 p {
	line-height: 1.4rem;
}

.box-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.training-picture-1, .training-picture-2 {
	width: 100%;
	border-radius: 20px;
}

.training-gif {
	width: 50%;
	border-radius: 30px;
	margin: 1% 0;
}

.training-quote1 {
	width: 100%;
	font-size: 4.8em;
	font-weight: bold;
	font-family: 'Kanit', sans;
}

/* =================== training =================== */
#family {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 4% 0;
	background-color: white;
	background-image: url("https://i.pinimg.com/736x/f3/bd/10/f3bd1062e634b0699953b98348105419--vegeta-and-trunks-father-and-son.jpg");
	background-repeat: no-repeat;
}

.vegeta-family-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 0%;
}

#family .family-heading {
	width: 12%;
}

#family .family-heading-hidden {
	visibility: hidden;
}

.vegeta-family-middle {
	width: 50%;
	background-color: burlywood;
	padding: 2%;
	margin-left: 40%;
	border: 2px solid black;
	border-radius: 30px;
	display: flex;
}


.vegeta-family-bottom {
	width: 100%;
	display: flex;
	justify-content: center;
}

#family .vegeta-family-png {
	width: 20%;
}

h1 {
	font-size: 140px;
	font-family: 'Ruslan Display', cursive;
	color: #ffa500;
	padding-top: 3%;
	text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 2px rgba(0, 0, 0, 0.5), 2px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);
}

h2 {
	text-align: center;
	font-family: 'Pattaya';
	font-size: 70px;
	color: white;
	letter-spacing: 0;
	text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 2px rgba(0, 0, 0, 0.5), 2px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);
}

/* ====footer==== */
footer {
	border-top: 2px solid darkorange;
	background-color: greenyellow;
	margin-top: 20px;
	padding: 0 1%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  footer img {
	width: 2em;
	height: 3em;
  }
  
  .footer-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .footer-middle img {
	width: 100%;
  }
