html, body {  
  font-family: "helvetica" sans-serif;
  background: url(https://orig00.deviantart.net/a7e8/f/2016/282/d/c/frieza_saga_vegito_by_zachjacobs-d7icpiu.png) repeat;
}

iframe {
  background-color: #000000;
  border: 5px solid #FFF;
  position: absolute;
  right: 0;
}

nav { 
  background: #000;
  height: 80px; 
  width: 800px;
}

nav ul {
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

nav ul li {
  background-color: DarkOliveGreen;
  color: #fff;
  width: 110px;
  font-size: 18px;
  display: inline-block; 
  line-height: 80px; 
  padding: 0 10px; 
}

 nav ul li:hover {
  background: #000080;
  cursor: url(http://ani.cursors-4u.net/anime/ani-13/ani1235.ani), url(http://ani.cursors-4u.net/anime/ani-13/ani1235.png), auto; 
  transition: background .5s;  
}

.family-image {
    background-color: black;
    width: 800px
}

.family-image img {
    width: 130px;
    height: 175px;
}

footer{
    border-radius: 30px;
    width: 1000px;
    margin: 20px;
    display: flex;
    align-items: center;
  }

  footer img {
      width: 2em;
      height: 3em;
  }
